@*@model IEnumerable<QualitySouvenirs.Models.ShoppingCart>
    @{
        ViewData["Title"] = "Shopping Cart";
    }
    <h2>Shopping Cart</h2>
    @{
        if (Model.Count().Equals(0))
        {
            <h1>Shopping cart is empty</h1>
        }
        else
        {

            <div class="shoppingCart">
                <table>
                    <tr id="headerRow">
                        <th></th>
                        <th>Code/Products</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Subtotal</th>
                    </tr>
                    @{
                        double subtotal = 0;
                        String output = "";
                        foreach (var item in Model)
                        {
                            <tr id="itemRow">
                                <td id="imageColumn">
                                    <img class="img-responsive" src="~/images/@item." alt="@item.ImageName" />
                                </td>
                                <td id="IDColumn">
                                    @item.HatID . @item.HatName
                                </td>
                                <td id="categoryColumn">
                                    @item.GetCartItems.
                                </td>
                                <td id="quantityColumn">
                                    <a class="btn-default" asp-action="Edit" asp-route-id="@item.ItemID" asp-route-quantity="-1"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    <p id="quantity">@Html.DisplayFor(modelItem => item.Quantity)</p>
                                    <a class="btn-default" asp-action="Edit" asp-route-id="@item.ItemID" asp-route-quantity="1"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                </td>
                                <td id="priceColumn">
                                    @{
                                        output = String.Format("${0:0.00} NZD", item.Price);
                                    }
                                    <p>@output</p>
                                </td>
                                <td id="subtotalColumn">
                                    @{
                                        double price = item.Price * item.Quantity;
                                        subtotal += price;
                                        output = String.Format("${0:0.00} NZD", price);
                                    }
                                    <p>@output</p>
                                </td>
                            </tr>
                        }
                    }
                    <tr id="subTotalRow">
                        @{output = String.Format("${0:0.00} NZD", subtotal); }
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Subtotal:</td>
                        <td id="subtotal">@output</td>
                    </tr>
                    <tr id="gstRow">
                        @{
                            double gst = subtotal * 0.15;
                            output = String.Format("${0:0.00} NZD", gst);
                        }
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>GST:</td>
                        <td id="gst">@output</td>
                    </tr>
                    <tr id="grandTotalRow">
                        @{output = String.Format("${0:0.00} NZD", subtotal + gst); }
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Grand Total:</td>
                        <td id="grandTotal">@output</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-danger" asp-action="Delete">Clear<span class="glyphicon glyphicon-trash"></span></a></td>
                        <td><a class="btn btn-warning" asp-controller="Order" asp-action="Create">Check Out&nbsp;<i class="fa fa-credit-card" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
            </div>
        }
    }*@