@model IEnumerable<QualitySouvenirs.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @if (item.Enabled == true)
                    {
                        <a asp-action="EnableDisable" asp-route-id="@item.Id">Disable</a>;
                    }
                    else
                    {
                        <a asp-action="EnableDisable" asp-route-id="@item.Id">Enable</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>